@charset "UTF-8";
* {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

header {
  position: relative;
  /*Для того, чтоб картинка заходила на этот блок от класса subheader */
}

nav {
  height: 50px;
  background: #212121;
}

.hamburger {
  display: none;
  position: absolute;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*элементы по вертикали */
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*выравнивание по вертикали */
  padding: 13px 70px;
  margin: 0;
  /*в бутстрепе грив дефотлно стоит отступ */
  list-style-type: none;
  /*Убирает точки в списке ul */
}

.menu .menu_link {
  font-weight: 300;
  font-size: 15px;
  color: #FFFFFF;
  text-decoration: none;
}

.menu .menu_item {
  /*Разделитель в шапке сайта */
  border-right: 2px dotted black;
  padding-right: 46px;
  background: rgba(0, 0, 0, 0.0001);
}

.menu .menu_item:last-child {
  border-right: none;
}

.subheader {
  position: absolute;
  /*ДЛя смещнения картинки */
  width: 100%;
  /*Если съехала верстка после позиционирования */
  height: 87px;
  background: rgba(0, 0, 0, 0.6);
}

.subheader .subheader_logo {
  display: block;
  /*Марджены работают только с блочными элементами */
  max-width: 100%;
  /*Максимальная щирина от колонки (если вдруг лого будет меняться) */
  margin-top: 16px;
}

.subheader .subheader_official {
  margin-top: 6px;
  opacity: 0.5;
  font-weight: 100;
  font-size: 13px;
  color: #FFFFFF;
}

.subheader .subheader_call {
  margin-top: 19px;
  font-weight: 300;
  font-size: 12px;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
  color: #FFFFFF;
}

.subheader .subheader_phone {
  margin-top: 8px;
  font-size: 22px;
  display: block;
  /* align-items: center; */
  text-align: right;
  text-transform: uppercase;
  color: #FFFFFF;
  line-height: 12px;
  /*указывает высоту строчного элемента */
  text-decoration: none;
}

.subheader .subheader_btn {
  margin-top: 19px;
  position: absolute;
  width: 172px;
  height: 46px;
  background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  -webkit-box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  font-style: normal;
  /* текст */
  display: block;
  font-weight: normal;
  font-size: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.subheader .subheader_btn:hover {
  background-image: none;
  background-color: #1EACC7;
}

.promo {
  min-height: 700px;
  background: url("../img/promo.png") center center/cover no-repeat;
  /*расположение по центру + чтоб картинка не повторялась если ее не будет хватать */
  padding: 136px 0 185px 0;
}

.promo .promo_header {
  font-weight: 900;
  font-size: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  line-height: 60px;
  margin: 0;
}

.promo .promo_subheader {
  margin-top: 22px;
  font-weight: 900;
  font-size: 36px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  line-height: 36px;
  margin: 0;
}

.promo .promo_descr {
  margin-top: 23px;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.promo .promo_btn {
  display: block;
  margin: 120px auto 0 auto;
  /*выравнивание кнопки  по центру в row */
  width: 259px;
  height: 63px;
  background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  -webkit-box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
          box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  /* Text */
  font-size: 18px;
  line-height: 6px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.promo .promo_btn:hover {
  background-image: none;
  background-color: #1EACC7;
}

.reason {
  padding: 20px 0 65px 0;
}

.label {
  display: block;
  margin: 0 auto 0 auto;
  width: 115px;
  height: 27px;
  background: #000000;
  /* text */
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  mix-blend-mode: normal;
}

.title {
  margin-bottom: 0;
  margin-top: 42px;
  font-weight: bold;
  font-size: 38px;
  line-height: 48px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
}

.subtitle {
  margin-top: 19px;
  font-size: 17px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #222222;
}

.reason .reason_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  /*Выравнивание по верхнему краю */
  margin-top: 35px;
}

.reason .reason_block .logo_reason {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 26px;
  width: 113px;
  height: 113px;
  background-color: #1eacc7;
  border-radius: 100%;
}

.reason .reason_block .reason_descr {
  width: 355px;
}

.reason .reason_block .reason_descr .reason_subtitle {
  line-height: 21px;
  color: #1eacc7;
  font-size: 17px;
  font-weight: 400;
}

.reason .reason_block .reason_descr .reason_text {
  color: #202020;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
}

.mobile {
  min-height: 864px;
  padding: 48px 0 79px 0;
  background: url("../img/section3.png") center center/cover no-repeat;
}

.mobile .row {
  margin-top: 32px;
}

.mobile_item {
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 19px;
  padding-top: 92px;
}

.mobile_item_1 {
  background: url("../icons/bg/img1.jpg") center center/cover no-repeat;
}

.mobile_item_2 {
  background: url("../icons/bg/img2.jpg") center center/cover no-repeat;
}

.mobile_item_3 {
  background: url("../icons/bg/img3.jpg") center center/cover no-repeat;
}

.mobile_item_4 {
  background: url("../icons/bg/img4.jpg") center center/cover no-repeat;
}

.mobile_item_5 {
  background: url("../icons/bg/img5.jpg") center center/cover no-repeat;
}

.mobile_item_6 {
  background: url("../icons/bg/img6.jpg") center center/cover no-repeat;
}

.mobile_item_subtitle {
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.mobile_item_plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 35px;
  width: 29px;
  height: 29px;
  background: #000000;
  margin: 0 auto;
  border-radius: 100%;
  cursor: pointer;
}

.mobile_item_plus::before {
  content: '';
  display: block;
  width: 14px;
  height: 2px;
  background-color: #1EACC7;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.mobile_item_plus::after {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  height: 14px;
  width: 2px;
  background-color: #1EACC7;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.mobile_item_plus:hover:before, .mobile_item_plus:hover:after {
  background-color: #FF5656;
}

.car {
  min-height: 894px;
  background: url("../img/section4.png");
  padding: 57px 0 125px 0;
}

.car .labels {
  display: block;
  margin: 0 auto 0 auto;
  width: 115px;
  height: 27px;
  background: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  color: #070716;
}

.car .car_header {
  margin-top: 35px;
  font-weight: 900;
  font-size: 38px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  line-height: 48px;
}

.car .subheader_descr {
  font-weight: normal;
  font-size: 17px;
  line-height: 23px;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.car .car_img {
  display: block;
  width: 759px;
  height: 480px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  margin-top: 40px;
}

.car .car_text {
  display: block;
  height: 49px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  /* or 141% */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #222222;
}

.require {
  padding: 68px 0 83px 0;
}

.require_block {
  margin: 33px 0;
}

.require_block_nmb {
  margin-bottom: 0px;
}

.require_title {
  font-weight: normal;
  font-size: 22px;
  line-height: 24px;
  color: #1CA8C3;
}

.require_list {
  list-style-type: none;
  padding-left: 50px;
  margin-top: 20px;
}

.require_list li {
  position: relative;
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 10px;
}

.require_list li:before {
  content: '';
  display: block;
  position: absolute;
  left: -32px;
  top: 3px;
  width: 21px;
  height: 20px;
  background: url("../icons/bg/check_blue.svg") center center/cover no-repeat;
}

.require_descr {
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1CA8C3;
}

.require .warning .require_title {
  color: #FF5656;
}

.require .warning .require_list li:before {
  background: url("../icons/bg/check_red.svg") center center/cover no-repeat;
}

.world {
  height: 720px;
  background: url("../img/world.png") center center/cover no-repeat;
  padding: 50px 0 50px 0;
}

.world_city {
  display: block;
  margin: 0 auto 0 auto;
  width: 115px;
  height: 27px;
  background: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  color: #070716;
}

.world_all {
  margin-top: 35px;
  font-weight: 900;
  font-size: 38px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  line-height: 48px;
}

.world_descr {
  font-weight: normal;
  font-size: 17px;
  line-height: 23px;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.world_watch {
  margin-top: 450px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 68px;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #1FBAD6;
}

.footer_divider {
  width: 299px;
  height: 4px;
  background-color: #1fbad6;
  margin: 15px auto 0 auto;
}

.footer_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 32px;
}

.footer_wrapper > div {
  width: 33%;
}

.footer_wrapper > div:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer_social {
  width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_social_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 4px;
  width: 32px;
  height: 32px;
  background-color: #070716;
  border-radius: 100%;
}

.footer_social_item i {
  color: #fff;
}

.footer_links {
  width: 390px;
  margin: 0 auto;
  margin-text-decoration: none;
}

.footer_links_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
  padding-text-decoration: none;
}

.footer_links_main a {
  color: #070716;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  text-transform-text-decoration: none;
}

.footer_links_sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.footer_links_sub a {
  color: #999999;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  text-transform-text-decoration: none;
}

.footer_links_lang {
  display: block;
  margin: 0 auto;
  color: #1fbad6;
  font-size: 11px;
  font-weight: 400;
  margin-top: 19px;
  text-transform: uppercase;
  text-align: center;
}

.xs-visible {
  display: none;
}

@media (max-width: 1200px) {
  .container .menu_item {
    padding-right: 30px;
  }
  .container .menu_link {
    font-size: 11px;
  }
  .container .promo_header {
    font-size: 50px;
  }
}

@media (max-width: 991px) {
  .container .menu_item {
    padding-right: 10px;
  }
  .container .menu_link {
    font-size: 10px;
  }
  .container .subheader_logo img {
    width: 100%;
  }
  .container .subheader_official {
    font-size: 11px;
  }
  .container .subheader_phone {
    font-size: 18px;
  }
  .container .subheader_btn {
    height: 40px;
  }
  .container .promo_header {
    font-size: 40px;
  }
  .container .promo_subheader {
    font-size: 30px;
  }
  .container .reason_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .reason_subtitle {
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  .container .menu {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
  }
  .container .menu_active {
    left: 0;
  }
  .container .menu_item {
    padding-right: 0;
    border: none;
    margin: 10px 0;
  }
  .container .menu_link {
    font-size: 20px;
  }
  .hamburger {
    display: block;
    positions: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 26px;
  }
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 2px;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .hamburger span_active span {
    margin-bottom: -2px;
  }
  .hamburger span_active span:nth-child(1) {
    -webkit-transform: translateY(3px) rotate(-45deg);
            transform: translateY(3px) rotate(-45deg);
  }
  .hamburger span_active span:ntn-child(2) {
    display: none;
  }
  .hamburger span_active span:ntn-child(3) {
    -webkit-transform: translateY(3px) rotate(-45deg);
            transform: translateY(3px) rotate(-45deg);
  }
  .xs-hidden {
    display: none;
  }
  .xs-visible {
    display: block;
  }
  .subheader_phone {
    font-weight: 400;
    font-size: 12px;
    line-height: 68px;
    /* identical to box height, or 567% */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .subheader_btn {
    display: block;
    width: 200px;
    height: 40;
    margin: 0 auto;
  }
}

.container .promo_header {
  line-height: 45px;
}

@media (max-width: 575px) {
  .container .subheader_official {
    display: none;
  }
  .container .subheader_logo {
    margin-top: 27px;
  }
  .container .subheader_phone {
    font-weight: 400;
    font-size: 12px;
    /* identical to box height, or 567% */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .container .subheader_btn {
    width: 110px;
    height: 22px;
    font-size: 10px;
  }
  .container .promo {
    min-height: 400px;
    padding: 53px 0 35px 0;
  }
  .container .promo_descr {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */